<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tplink.blog.dao.mapper.TagMapper">
    <select id="findTagsByArticleId"  parameterType="long" resultType="com.tplink.blog.dao.pojo.Tag">
        select id, avatar, tag_name as tagName from ms_tag
        where id in (
            select tag_id from ms_article_tag where article_id = #{articleId}
            )
    </select>

    <!--  获取热门标签  -->
    <select id="findHotsTagIds" resultType="java.lang.Long" parameterType="int">
        select tag_id
        from ms_article_tag
        group by tag_id
        order by count(1) desc
        limit #{size}
    </select>

    <sql id="all">
        id,avatar,tag_name as tagName
    </sql>
    <select id="findTagsByTagIds" resultType="com.tplink.blog.dao.pojo.Tag">
        select <include refid="all"></include>
        from ms_tag
        where id in
        <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>

    <select id="findAllDetail" resultType="com.tplink.blog.vo.TagVo">
        select t1.id, t1.avatar, t1.tag_name, count(t2.article_id) articles
        from ms_tag t1
        join ms_article_tag t2
        on t1.id = t2.tag_id
        group by t1.id, t1.avatar, t1.tag_name
    </select>
</mapper>